@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 255, 255, 255;
    --text-secondary: 200, 200, 200;
    --bg-primary: 17, 24, 39;
    --bg-secondary: 31, 41, 55;
    --bg-tertiary: 55, 65, 81;
  }
}